@page "/"
@using BlazorExcelReadAndSaveData.Data;
@inject BlazorExcelReadAndSaveData.IRepository.IEmployeeRepository empRepo;

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in emps)
        {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.FullName</td>
            </tr>
        }
    </tbody>
</table>

<br />
<button class="btn btn-primary" @onclick="SaveExcelInfo">Save Excel</button>

@code{
    Employee emp = new Employee();
    List<Employee> emps = new List<Employee>();

    private void SaveExcelInfo()
    {
        emps = empRepo.SaveExcel("employee.xlsx");
    }
}
